/* Font */
@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@5.2/distr/fira_code.css);

:root {
  --primary-white: #fff;
  --primary-yellow: #ffbc40;
  --primary-dark: #495057;
  --primary-red: rgb(255, 108, 145);
  --primary-gray: rgb(39, 38, 38);
  --primary-orange: rgb(255, 144, 53);
  --primary-blue: rgb(74, 147, 255);
  --react-blue: rgb(9, 136, 255);
  --primary-purple: rgb(157, 59, 187);
  --dark-purple: rgb(91, 0, 119);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Code" !important;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: var(--bs-pink);
  /* border-radius: 100px; */
}

::-webkit-scrollbar-thumb {
  background-color: var(--bs-yellow);
  border-radius: 100px;
}

nav {
  position: relative;
  z-index: 1;
}

.logo {
  width: 50px;
  outline: none;
}

.home-section {
  background-image: url("/src/img/eclipse.jpg");
  background-position: center;
  background-size: cover;
  min-height: 90vh;
  color: var(--primary-white);
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  flex-direction: column;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 380px;
  position: relative;
  left: 50px;
  top: 30px;
}

.home-section h1 {
  display: flex;
  font-size: 80px;
  text-align: left;
}

.home-section .hello {
  font-size: 20px !important;
}

.home-section p {
  font-size: 30px;
}

.home-section .content {
  display: block;
}

.type-text {
  color: var(--primary-yellow);
}

@media (max-width: 768px) {
  .content {
    width: 250px;
    position: relative;
    left: -10px;
    top: -10px;
  }
  .content .hello {
    font-size: 18px !important;
  }
  .content h1 {
    font-size: 35px !important;
  }

  .type-text,
  .home-section p {
    font-size: 18px;
  }
  /* #tsparticles {
    visibility: hidden;
  } */
  .home-section .buttons {
    position: relative !important;
    top: -10px !important;
  }
}

@media (max-width: 768px) {
  .contact-bg {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 220px !important;
  }
}

.contact-bg {
  width: 500px;
}

.textarea {
  resize: none;
  height: 130px;
}
.particles {
  position: relative;
  z-index: -1;
}

.img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50px;
  border: 5px solid var(--primary-yellow);
  width: 400px;
  left: 120px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .img-box {
    position: relative;
    left: 35px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
  }
  .img-box img {
    width: 180px;
    height: 220px;
    border-radius: 50%;
  }
}

.about-h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-section {
  min-height: 100vh;
}
.abt-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 120px;
  z-index: 1;
}

@media (max-width: 768px) {
  .abt-btn {
    position: relative !important;
    top: 420px !important;
  }
}

.gear {
  position: absolute;
  top: 150px;
  left: 330px;
  animation: rotate 10s linear infinite;
}
.gear-y {
  position: absolute;
  top: 190px;
  left: 360px;
  animation: rotate_2 13s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate_2 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@media (max-width: 768px) {
  .under_construction {
    width: 300px;
    position: relative;
    top: 120px;
  }
  .gear {
    position: absolute;
    left: 50px;
  }
  .gear-y {
    position: absolute;
    left: 70px;
    top: 190px;
  }
  .social-group {
    position: relative;
    left: 120px;
    top: 980px !important;
    height: 120px;
  }
  .social-media {
    position: relative;
    top: -10px !important;
  }
}

.navbar-nav a:hover {
  color: var(--primary-orange) !important;
}

.social-group {
  display: flex;
  position: absolute;
  top: 580px;
  right: 350px;
  width: 250px;
}
.social-media {
  display: flex;
  justify-content: space-evenly;
  width: 180px;
  position: relative;
  left: -35px;
  top: 30px;
}

.social-media-btn{
  display: inline-block;
  position: relative;
  left: 10px;
}